/* ==UserStyle==
@name           google.com
@namespace      github.com/yanoryuichi/UserCSS
@version        1.0.4
@author         Ryuichi Yano
@updateURL      https://raw.githubusercontent.com/yanoryuichi/UserCSS/master/google.com.user.css

==/UserStyle== */
@-moz-document domain("google.com") {
    span.st > em {
        background-color: #555;
    }
    #search #rso span.ub-button {
        font-size: 0;
        color: #aaa
        
    }
    #search #rso span.ub-button:after {
        font-size:x-small;
        content: "❌BLOCK";
        
    }
    .aCOpRe span em {
        color: orange !important;
    }

    span.ub-link-button.ub-block-button {
        color: #ccc !important;
        font-size: xx-small;
        letter-spacing: -1.5px;
    }
}
