/* ==UserStyle==
@name           qiita.com
@namespace      github.com/yanoryuichi/UserCSS
@version        1.0.4
@updateURL      https://raw.githubusercontent.com/yanoryuichi/UserCSS/master/qiita.com.user.css
@author         Me
==/UserStyle== */
@-moz-document domain("qiita.com") {
  .p-items_wrapper a {
    color: white;
  }
  .p-items_wrapper span {
    color: whitesmoke;
  }
  #comments p {
    color: white;
  }
  .apm-Content_list .description,
  time {
    color: snow;
  }
  .allWrapper,
  .p-items_wrapper,
  .p-items_container {
    background-color: #777;
  }
  .p-items_main > div {
    background-color: #666;
  }
  .it-Toc a:hover,
  .it-Toc a.focus {
    background-color: #888;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  body {
    color: white;
  }
  .it-MdContent {
    color: white;
  }
  #comments > div {
    background-color: #888;
  }
  div.p-items_wrapper > div > div.p-items_main > div:nth-child(1) > div > h1 {
    color: white !important;
  }
  div.p-items_wrapper
    > div
    > div.p-items_main
    > div:nth-child(1)
    > div
    > div
    > div
    > div
    > div
    > div
    > span
    > time {
    color: white;
  }
  .it-Toc a.focus {
    color: white;
  }
  #logly-lift-4279493 .logly-lift-ad-title {
    color: white;
  }
  div.p-items_wrapper
    > div
    > div.p-items_main
    > div:nth-child(5)
    > div
    > div
    > time,
  div.p-items_wrapper > div > div.p-items_main > div:nth-child(5) > div > div,
  #logly-lift-4279493 .logly-lift-ad-adv,
  #logly-lift-4279493 .logly-lift-ad-author,
  #logly-lift-toaster .logly-lift-credit2 a,
  #logly-lift-4279493 .logly-lift-credit2 a {
    color: whitesmoke;
  }
}
